# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore Linux system files
*.swp
*~

# Ignore VSCode settings (if you use it)
.vscode/

# Ignore backup files
*.bak

# C/C++
*.o
*.out
*.exe
*.obj

# IDEs
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
